.editor {
  min-height: 100px;
  background: var(--color-white);
  color: var(--color-black);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-gray-light);
  box-sizing: border-box;
  position: relative;

  .ProseMirror {
    position: relative;
    word-wrap: break-word;
    -webkit-font-variant-ligatures: none;
    font-variant-ligatures: none;
    font-feature-settings: "liga" 0; /* the above doesn't seem to work in Edge */
    padding-inline: var(--spacing-medium);
    padding-block: var(--spacing-medium) var(--spacing-large);
    outline: none;
    font-size: var(--font-size-body);
    white-space: pre-wrap;

    /// ===== SELECTION ===== ///
    .ProseMirror-hideselection *::selection {
      background: transparent;
    }
    .ProseMirror-hideselection *::-moz-selection {
      background: transparent;
    }
    .ProseMirror-hideselection {
      caret-color: transparent;
    }
    /* See https://github.com/ProseMirror/prosemirror/issues/1421#issuecomment-1759320191 */
    [draggable][contenteditable="false"] {
      user-select: text;
    }
    .ProseMirror-selectednode {
      outline: 2px solid var(--color-accent);
      outline-offset: 2px;
    }

    /// ===== FIRST ELEMENT ===== ///
    > :first-child {
      margin-top: 0;
    }

    /// ===== Images ===== ///
    img {
      max-width: 100%;
    }

    /// === Code ///
    code {
      white-space: pre-wrap;
    }
  }
}
