:root {
  // Layout.

  --container-width: 1024px;
  --mobile-s-width: 768px;
  --mobile-ms-width: 500px;
  --mobile-xs-width: 360px;
  --header-height: 187px;

  // Border.

  --border-image: linear-gradient(
    to right,
    var(--color-accent-lighter),
    var(--color-accent-darker),
    var(--color-accent-lighter)
  );
  --border-width: 2px;
  --border-width-thin: 1px;
  --border-radius: 3px;
  --border-radius-large: 8px;
  --border-radius-rounded: 999px;

  // Color.

  --color-black: #000;
  --color-gray-dark: rgba(75, 75, 75, 1);
  // --color-surface-subtle: #f3f3f3;
  --color-border-focus: #7a7a7a;
  --color-white: #fff;

  --color-accent-h: 50;
  --color-accent-s: 94%;
  --color-accent-l: 57%;
  --color-accent: hsl(
    var(--color-accent-h),
    var(--color-accent-s),
    var(--color-accent-l)
  );
  --color-accent-darker: hsl(
    var(--color-accent-h),
    var(--color-accent-s),
    calc(var(--color-accent-l) - 10%)
  );
  --color-accent-lighter: hsl(
    var(--color-accent-h),
    var(--color-accent-s),
    calc(var(--color-accent-l) + 10%)
  );

  --color-info-h: 210;
  --color-info-s: 64%;
  --color-info-l: 80%;
  --color-info-lighter: hsl(
    var(--color-info-h),
    var(--color-info-s),
    calc(var(--color-info-l) + 10%)
  );

  --color-body: var(--color-gray-dark);

  /// Font.

  --font-color-heading: var(--color-black);
  // Font-family = 'Heading' coming from both NLDS and/or the font-upload functionality
  --font-family-heading: var(--utrecht-heading-font-family);
  --font-weight-heading: bold;

  --font-color-heading-1: var(--font-color-heading);
  --font-family-heading-1: var(--font-family-heading);
  --font-line-height-heading-1: 41px;
  --font-size-heading-1: var(--utrecht-heading-1-font-size);
  --font-weight-heading-1: var(--font-weight-heading);

  --font-color-heading-2: var(--font-color-heading);
  --font-family-heading-2: var(--font-family-heading);
  --font-line-height-heading-2: 34px;
  --font-size-heading-2: var(--utrecht-heading-2-font-size);
  --font-weight-heading-2: var(--font-weight-heading);

  --font-color-heading-3: var(--font-color-heading);
  --font-family-heading-3: var(--font-family-heading);
  --font-line-height-heading-3: 30px;
  --font-size-heading-3: var(--utrecht-heading-3-font-size);
  --font-weight-heading-3: var(--font-weight-heading);

  --font-color-heading-4: var(--font-color-heading);
  --font-family-heading-4: var(--font-family-heading);
  --font-line-height-heading-4: 26px;
  --font-size-heading-4: var(--utrecht-heading-4-font-size);
  --font-weight-heading-4: var(--font-weight-heading);

  --font-size-heading-card: 18px;

  // Font-family = 'Body' coming from both NLDS and/or the font-upload functionality
  --font-family-body: var(--utrecht-document-font-family);
  --font-color-body: var(--color-gray-dark);
  --font-size-body: var(--utrecht-document-font-size);
  --font-line-height-body: 24px;

  --font-size-body-extra-small: 12px;
  --font-size-body-small: var(--utrecht-paragraph-small-font-size);
  --font-size-body-larger: 18px;
  --font-size-body-large: 20px;
  --font-size-icon-large: 32px;
  --font-line-height-body-small: 20px;
  --font-line-height-body-medium: 24px;
  --font-line-height-body-large: 28px;

  --row-height: 40px;
  --row-height-small: 24px;
  --row-height-big: 48px;
  --row-height-giant: 57px;
  --gutter-width: 32px;

  --spacing-tiny: 2px;
  --spacing-small: 4px;
  --spacing-medium: 8px;
  --spacing-large: 16px;
  --spacing-extra-large: 24px;
  --spacing-giant: 32px;
  --spacing-mega: 80px;

  /// Common widths
  --form-width: 500px;

  /// Custom focus outline for elements that do not receive default client focus-styles
  --focus-border-width: 3px;
  --focus-border-style: dashed;
  // focus-border colors can be determined by what kind of element receive them

  /** ProseMirror specific styling */
  --color-primary: #{rgba(#04a5bb, 0.5)};
  --color-primary-pressed: #{rgba(#04a5bb, 0.6)};

  --color-primary-light: #{rgba(#04a5bb, 0)};
  --color-primary-light-pressed: #{rgba(#04a5bb, 0.1)};
}
